package com.github.feribg.audiogetter.config;


public final class Constants {
    public static final class Soundcloud {
        public static final String CLIENT_ID = "<YOUR_CLIENT_ID>";
        public static final Integer MAX_RESULTS = 1000;
        public static final String API_HOST = "api.soundcloud.com";
        public static final String API_SEARCH = "tracks.json";
        public static final String API_SCHEME = "http";

    }

    public static final class Vimeo {
        public static final String API_HOST = "api.vimeo.com";
        public static final String API_SEARCH = "videos";
        public static final String API_TOKEN = "<YOUR_API_TOKEN>";
        public static final String API_SCHEME = "https";

    }

    public static final class Backend {
        public static final String API_HOST = "<YOUR_API_HOST>";
        public static final String API_SCHEME = "http";
    }
}
